body {
  font-family: Times, sans-serif;
  background-color: #123e6b;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #ffffff;
}

section {
  background: white;
  padding: 15px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(170, 24, 24);
  color: rgb(243, 237, 237);
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;

  z-index: 1000;
}

#triviaBox {
  color: rgb(221, 217, 217);
}

#petLayout {
  display: flex;
  align-items: center;
  gap: 40px;
}

#petContainer img {
  width: 150px;
  height: auto;
}